<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  Delete
  <ion-list>
    <button ion-item *ngFor="let item of histories" (click)="DeleteOrderHistory(item.id)" >
      {{ item.id }} {{ item.name }} {{ item.amount }} {{ item.price }}
    </button>  
  </ion-list>

  Update
  <ion-list>
    <button ion-item *ngFor="let item of histories" (click)="UpdateOrderHistory(item.id)" >
      {{ item.id }} {{ item.name }} {{ item.amount }} {{ item.price }}
    </button>  
  </ion-list>
</ion-content>